<div class="landing-image">
  <div class="auth-title">
    <h1>Code Hunt</h1>
    <p class="tagline">Discover the best developer-friendly products.</p>
  </div>

  <div class="centered-box">
    <br>
    <div class="auth-wrapper">
      <img className="small-logo-landing" src="http://res.cloudinary.com/codehunt/image/upload/v1457112261/Good_Logo_Landing_gmykld.png"/>
      <br>
      <br>
      <h3 class="auth-header">Sign In</h3>
      <form class="auth_form" action="/session" method="post">
        <%= auth_token %>
        <input type="text" placeholder="Username" name="user[username]" id="Username" value="<%= @user.username.nil? ? '' : "#{@user.username}"%>">
        <br>
        <br>
        <input type="password" name="user[password]" id="Password" value="" placeholder="Password">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Sign In">
      </form>
<br>
<br>
      <form action="<%= session_url %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="user[username]" id="username" value="Blaise Cremin Jr.">
        <input type="hidden" name="user[password]" id="password" value="aaaaaa">
        <input class="btn btn-primary" type="submit" value="Demo Account">
      </form>
      <p class="auth-footer">
        Not registered yet ? <%= link_to "Sign Up!", new_user_url %>
      </p>
    </div>
  </div>
</div>
